/* بِسْمِ اللَّـهِ الرَّحْمَـٰنِ الرَّحِيمِ */

#carouselExampleFade {
  height: 100vh;
}

.carousel-item {
  height: 100vh;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.carousel-item img {
  filter: brightness(50%); /* Adjust the percentage to control darkness */
}

.carousel-caption h1 a {
  color: inherit; /* Inherits the text color from h1 */
  text-decoration: none; /* Removes underline from link */
  font-size: inherit; /* Inherits font size from h1 */
  font-weight: inherit; /* Inherits font weight from h1 */
}

.carousel-caption h1 a:hover,
.carousel-caption h1 a:focus {
  text-decoration: none; /* Optional: Keeps the link without decoration on hover/focus */
}
